$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;

$home-icon: "\e900";
$home2-icon: "\e901";
$home3-icon: "\e902";
$office-icon: "\e903";
$newspaper-icon: "\e904";
$pencil-icon: "\e905";
$pencil2-icon: "\e906";
$quill-icon: "\e907";
$pen-icon: "\e908";
$blog-icon: "\e909";
$eyedropper-icon: "\e90a";
$droplet-icon: "\e90b";
$paint-format-icon: "\e90c";
$image-icon: "\e90d";
$images-icon: "\e90e";
$camera-icon: "\e90f";
$headphones-icon: "\e910";
$music-icon: "\e911";
$play-icon: "\e912";
$film-icon: "\e913";
$video-camera-icon: "\e914";
$dice-icon: "\e915";
$pacman-icon: "\e916";
$spades-icon: "\e917";
$clubs-icon: "\e918";
$diamonds-icon: "\e919";
$bullhorn-icon: "\e91a";
$connection-icon: "\e91b";
$podcast-icon: "\e91c";
$feed-icon: "\e91d";
$mic-icon: "\e91e";
$book-icon: "\e91f";
$books-icon: "\e920";
$library-icon: "\e921";
$file-text-icon: "\e922";
$profile-icon: "\e923";
$file-empty-icon: "\e924";
$files-empty-icon: "\e925";
$file-text2-icon: "\e926";
$file-picture-icon: "\e927";
$file-music-icon: "\e928";
$file-play-icon: "\e929";
$file-video-icon: "\e92a";
$file-zip-icon: "\e92b";
$copy-icon: "\e92c";
$paste-icon: "\e92d";
$stack-icon: "\e92e";
$folder-icon: "\e92f";
$folder-open-icon: "\e930";
$folder-plus-icon: "\e931";
$folder-minus-icon: "\e932";
$folder-download-icon: "\e933";
$folder-upload-icon: "\e934";
$price-tag-icon: "\e935";
$price-tags-icon: "\e936";
$barcode-icon: "\e937";
$qrcode-icon: "\e938";
$ticket-icon: "\e939";
$cart-icon: "\e93a";
$coin-dollar-icon: "\e93b";
$coin-euro-icon: "\e93c";
$coin-pound-icon: "\e93d";
$coin-yen-icon: "\e93e";
$credit-card-icon: "\e93f";
$calculator-icon: "\e940";
$lifebuoy-icon: "\e941";
$phone-icon: "\e942";
$phone-hang-up-icon: "\e943";
$address-book-icon: "\e944";
$envelop-icon: "\e945";
$pushpin-icon: "\e946";
$location-icon: "\e947";
$location2-icon: "\e948";
$compass-icon: "\e949";
$compass2-icon: "\e94a";
$map-icon: "\e94b";
$map2-icon: "\e94c";
$history-icon: "\e94d";
$clock-icon: "\e94e";
$clock2-icon: "\e94f";
$alarm-icon: "\e950";
$bell-icon: "\e951";
$stopwatch-icon: "\e952";
$calendar-icon: "\e953";
$printer-icon: "\e954";
$keyboard-icon: "\e955";
$display-icon: "\e956";
$laptop-icon: "\e957";
$mobile-icon: "\e958";
$mobile2-icon: "\e959";
$tablet-icon: "\e95a";
$tv-icon: "\e95b";
$drawer-icon: "\e95c";
$drawer2-icon: "\e95d";
$box-add-icon: "\e95e";
$box-remove-icon: "\e95f";
$download-icon: "\e960";
$upload-icon: "\e961";
$floppy-disk-icon: "\e962";
$drive-icon: "\e963";
$database-icon: "\e964";
$undo-icon: "\e965";
$redo-icon: "\e966";
$undo2-icon: "\e967";
$redo2-icon: "\e968";
$forward-icon: "\e969";
$reply-icon: "\e96a";
$bubble-icon: "\e96b";
$bubbles-icon: "\e96c";
$bubbles2-icon: "\e96d";
$bubble2-icon: "\e96e";
$bubbles3-icon: "\e96f";
$bubbles4-icon: "\e970";
$user-icon: "\e971";
$users-icon: "\e972";
$user-plus-icon: "\e973";
$user-minus-icon: "\e974";
$user-check-icon: "\e975";
$user-tie-icon: "\e976";
$quotes-left-icon: "\e977";
$quotes-right-icon: "\e978";
$hour-glass-icon: "\e979";
$spinner-icon: "\e97a";
$spinner2-icon: "\e97b";
$spinner3-icon: "\e97c";
$spinner4-icon: "\e97d";
$spinner5-icon: "\e97e";
$spinner6-icon: "\e97f";
$spinner7-icon: "\e980";
$spinner8-icon: "\e981";
$spinner9-icon: "\e982";
$spinner10-icon: "\e983";
$spinner11-icon: "\e984";
$binoculars-icon: "\e985";
$search-icon: "\e986";
$zoom-in-icon: "\e987";
$zoom-out-icon: "\e988";
$enlarge-icon: "\e989";
$shrink-icon: "\e98a";
$enlarge2-icon: "\e98b";
$shrink2-icon: "\e98c";
$key-icon: "\e98d";
$key2-icon: "\e98e";
$lock-icon: "\e98f";
$unlocked-icon: "\e990";
$wrench-icon: "\e991";
$equalizer-icon: "\e992";
$equalizer2-icon: "\e993";
$cog-icon: "\e994";
$cogs-icon: "\e995";
$hammer-icon: "\e996";
$magic-wand-icon: "\e997";
$aid-kit-icon: "\e998";
$bug-icon: "\e999";
$pie-chart-icon: "\e99a";
$stats-dots-icon: "\e99b";
$stats-bars-icon: "\e99c";
$stats-bars2-icon: "\e99d";
$trophy-icon: "\e99e";
$gift-icon: "\e99f";
$glass-icon: "\e9a0";
$glass2-icon: "\e9a1";
$mug-icon: "\e9a2";
$spoon-knife-icon: "\e9a3";
$leaf-icon: "\e9a4";
$rocket-icon: "\e9a5";
$meter-icon: "\e9a6";
$meter2-icon: "\e9a7";
$hammer2-icon: "\e9a8";
$fire-icon: "\e9a9";
$lab-icon: "\e9aa";
$magnet-icon: "\e9ab";
$bin-icon: "\e9ac";
$bin2-icon: "\e9ad";
$briefcase-icon: "\e9ae";
$airplane-icon: "\e9af";
$truck-icon: "\e9b0";
$road-icon: "\e9b1";
$accessibility-icon: "\e9b2";
$target-icon: "\e9b3";
$shield-icon: "\e9b4";
$power-icon: "\e9b5";
$switch-icon: "\e9b6";
$power-cord-icon: "\e9b7";
$clipboard-icon: "\e9b8";
$list-numbered-icon: "\e9b9";
$list-icon: "\e9ba";
$list2-icon: "\e9bb";
$tree-icon: "\e9bc";
$menu-icon: "\e9bd";
$menu2-icon: "\e9be";
$menu3-icon: "\e9bf";
$menu4-icon: "\e9c0";
$cloud-icon: "\e9c1";
$cloud-download-icon: "\e9c2";
$cloud-upload-icon: "\e9c3";
$cloud-check-icon: "\e9c4";
$download2-icon: "\e9c5";
$upload2-icon: "\e9c6";
$download3-icon: "\e9c7";
$upload3-icon: "\e9c8";
$sphere-icon: "\e9c9";
$earth-icon: "\e9ca";
$link-icon: "\e9cb";
$flag-icon: "\e9cc";
$attachment-icon: "\e9cd";
$eye-icon: "\e9ce";
$eye-plus-icon: "\e9cf";
$eye-minus-icon: "\e9d0";
$eye-blocked-icon: "\e9d1";
$bookmark-icon: "\e9d2";
$bookmarks-icon: "\e9d3";
$sun-icon: "\e9d4";
$contrast-icon: "\e9d5";
$brightness-contrast-icon: "\e9d6";
$star-empty-icon: "\e9d7";
$star-half-icon: "\e9d8";
$star-full-icon: "\e9d9";
$heart-icon: "\e9da";
$heart-broken-icon: "\e9db";
$man-icon: "\e9dc";
$woman-icon: "\e9dd";
$man-woman-icon: "\e9de";
$happy-icon: "\e9df";
$happy2-icon: "\e9e0";
$smile-icon: "\e9e1";
$smile2-icon: "\e9e2";
$tongue-icon: "\e9e3";
$tongue2-icon: "\e9e4";
$sad-icon: "\e9e5";
$sad2-icon: "\e9e6";
$wink-icon: "\e9e7";
$wink2-icon: "\e9e8";
$grin-icon: "\e9e9";
$grin2-icon: "\e9ea";
$cool-icon: "\e9eb";
$cool2-icon: "\e9ec";
$angry-icon: "\e9ed";
$angry2-icon: "\e9ee";
$evil-icon: "\e9ef";
$evil2-icon: "\e9f0";
$shocked-icon: "\e9f1";
$shocked2-icon: "\e9f2";
$baffled-icon: "\e9f3";
$baffled2-icon: "\e9f4";
$confused-icon: "\e9f5";
$confused2-icon: "\e9f6";
$neutral-icon: "\e9f7";
$neutral2-icon: "\e9f8";
$hipster-icon: "\e9f9";
$hipster2-icon: "\e9fa";
$wondering-icon: "\e9fb";
$wondering2-icon: "\e9fc";
$sleepy-icon: "\e9fd";
$sleepy2-icon: "\e9fe";
$frustrated-icon: "\e9ff";
$frustrated2-icon: "\ea00";
$crying-icon: "\ea01";
$crying2-icon: "\ea02";
$point-up-icon: "\ea03";
$point-right-icon: "\ea04";
$point-down-icon: "\ea05";
$point-left-icon: "\ea06";
$warning-icon: "\ea07";
$notification-icon: "\ea08";
$question-icon: "\ea09";
$plus-icon: "\ea0a";
$minus-icon: "\ea0b";
$info-icon: "\ea0c";
$cancel-circle-icon: "\ea0d";
$blocked-icon: "\ea0e";
$cross-icon: "\ea0f";
$checkmark-icon: "\ea10";
$checkmark2-icon: "\ea11";
$spell-check-icon: "\ea12";
$enter-icon: "\ea13";
$exit-icon: "\ea14";
$play2-icon: "\ea15";
$pause-icon: "\ea16";
$stop-icon: "\ea17";
$previous-icon: "\ea18";
$next-icon: "\ea19";
$backward-icon: "\ea1a";
$forward2-icon: "\ea1b";
$play3-icon: "\ea1c";
$pause2-icon: "\ea1d";
$stop2-icon: "\ea1e";
$backward2-icon: "\ea1f";
$forward3-icon: "\ea20";
$first-icon: "\ea21";
$last-icon: "\ea22";
$previous2-icon: "\ea23";
$next2-icon: "\ea24";
$eject-icon: "\ea25";
$volume-high-icon: "\ea26";
$volume-medium-icon: "\ea27";
$volume-low-icon: "\ea28";
$volume-mute-icon: "\ea29";
$volume-mute2-icon: "\ea2a";
$volume-increase-icon: "\ea2b";
$volume-decrease-icon: "\ea2c";
$loop-icon: "\ea2d";
$loop2-icon: "\ea2e";
$infinite-icon: "\ea2f";
$shuffle-icon: "\ea30";
$arrow-up-left-icon: "\ea31";
$arrow-up-icon: "\ea32";
$arrow-up-right-icon: "\ea33";
$arrow-right-icon: "\ea34";
$arrow-down-right-icon: "\ea35";
$arrow-down-icon: "\ea36";
$arrow-down-left-icon: "\ea37";
$arrow-left-icon: "\ea38";
$arrow-up-left2-icon: "\ea39";
$arrow-up2-icon: "\ea3a";
$arrow-up-right2-icon: "\ea3b";
$arrow-right2-icon: "\ea3c";
$arrow-down-right2-icon: "\ea3d";
$arrow-down2-icon: "\ea3e";
$arrow-down-left2-icon: "\ea3f";
$arrow-left2-icon: "\ea40";
$circle-up-icon: "\ea41";
$circle-right-icon: "\ea42";
$circle-down-icon: "\ea43";
$circle-left-icon: "\ea44";
$tab-icon: "\ea45";
$move-up-icon: "\ea46";
$move-down-icon: "\ea47";
$sort-alpha-asc-icon: "\ea48";
$sort-alpha-desc-icon: "\ea49";
$sort-numeric-asc-icon: "\ea4a";
$sort-numberic-desc-icon: "\ea4b";
$sort-amount-asc-icon: "\ea4c";
$sort-amount-desc-icon: "\ea4d";
$command-icon: "\ea4e";
$shift-icon: "\ea4f";
$ctrl-icon: "\ea50";
$opt-icon: "\ea51";
$checkbox-checked-icon: "\ea52";
$checkbox-unchecked-icon: "\ea53";
$radio-checked-icon: "\ea54";
$radio-checked2-icon: "\ea55";
$radio-unchecked-icon: "\ea56";
$crop-icon: "\ea57";
$make-group-icon: "\ea58";
$ungroup-icon: "\ea59";
$scissors-icon: "\ea5a";
$filter-icon: "\ea5b";
$font-icon: "\ea5c";
$ligature-icon: "\ea5d";
$ligature2-icon: "\ea5e";
$text-height-icon: "\ea5f";
$text-width-icon: "\ea60";
$font-size-icon: "\ea61";
$bold-icon: "\ea62";
$underline-icon: "\ea63";
$italic-icon: "\ea64";
$strikethrough-icon: "\ea65";
$omega-icon: "\ea66";
$sigma-icon: "\ea67";
$page-break-icon: "\ea68";
$superscript-icon: "\ea69";
$subscript-icon: "\ea6a";
$superscript2-icon: "\ea6b";
$subscript2-icon: "\ea6c";
$text-color-icon: "\ea6d";
$pagebreak-icon: "\ea6e";
$clear-formatting-icon: "\ea6f";
$table-icon: "\ea70";
$table2-icon: "\ea71";
$insert-template-icon: "\ea72";
$pilcrow-icon: "\ea73";
$ltr-icon: "\ea74";
$rtl-icon: "\ea75";
$section-icon: "\ea76";
$paragraph-left-icon: "\ea77";
$paragraph-center-icon: "\ea78";
$paragraph-right-icon: "\ea79";
$paragraph-justify-icon: "\ea7a";
$indent-increase-icon: "\ea7b";
$indent-decrease-icon: "\ea7c";
$share-icon: "\ea7d";
$new-tab-icon: "\ea7e";
$embed-icon: "\ea7f";
$embed2-icon: "\ea80";
$terminal-icon: "\ea81";
$share2-icon: "\ea82";
$mail-icon: "\ea83";
$mail2-icon: "\ea84";
$mail3-icon: "\ea85";
$mail4-icon: "\ea86";
$amazon-icon: "\ea87";
$google-icon: "\ea88";
$google2-icon: "\ea89";
$google3-icon: "\ea8a";
$google-plus-icon: "\ea8b";
$google-plus2-icon: "\ea8c";
$google-plus3-icon: "\ea8d";
$hangouts-icon: "\ea8e";
$google-drive-icon: "\ea8f";
$facebook-icon: "\ea90";
$facebook2-icon: "\ea91";
$instagram-icon: "\ea92";
$whatsapp-icon: "\ea93";
$spotify-icon: "\ea94";
$telegram-icon: "\ea95";
$twitter-icon: "\ea96";
$vine-icon: "\ea97";
$vk-icon: "\ea98";
$renren-icon: "\ea99";
$sina-weibo-icon: "\ea9a";
$rss-icon: "\ea9b";
$rss2-icon: "\ea9c";
$youtube-icon: "\ea9d";
$youtube2-icon: "\ea9e";
$twitch-icon: "\ea9f";
$vimeo-icon: "\eaa0";
$vimeo2-icon: "\eaa1";
$lanyrd-icon: "\eaa2";
$flickr-icon: "\eaa3";
$flickr2-icon: "\eaa4";
$flickr3-icon: "\eaa5";
$flickr4-icon: "\eaa6";
$dribbble-icon: "\eaa7";
$behance-icon: "\eaa8";
$behance2-icon: "\eaa9";
$deviantart-icon: "\eaaa";
$d500px-icon: "\eaab";
$steam-icon: "\eaac";
$steam2-icon: "\eaad";
$dropbox-icon: "\eaae";
$onedrive-icon: "\eaaf";
$github-icon: "\eab0";
$npm-icon: "\eab1";
$basecamp-icon: "\eab2";
$trello-icon: "\eab3";
$wordpress-icon: "\eab4";
$joomla-icon: "\eab5";
$ello-icon: "\eab6";
$blogger-icon: "\eab7";
$blogger2-icon: "\eab8";
$tumblr-icon: "\eab9";
$tumblr2-icon: "\eaba";
$yahoo-icon: "\eabb";
$yahoo2-icon: "\eabc";
$tux-icon: "\eabd";
$appleinc-icon: "\eabe";
$finder-icon: "\eabf";
$android-icon: "\eac0";
$windows-icon: "\eac1";
$windows8-icon: "\eac2";
$soundcloud-icon: "\eac3";
$soundcloud2-icon: "\eac4";
$skype-icon: "\eac5";
$reddit-icon: "\eac6";
$hackernews-icon: "\eac7";
$wikipedia-icon: "\eac8";
$linkedin-icon: "\eac9";
$linkedin2-icon: "\eaca";
$lastfm-icon: "\eacb";
$lastfm2-icon: "\eacc";
$delicious-icon: "\eacd";
$stumbleupon-icon: "\eace";
$stumbleupon2-icon: "\eacf";
$stackoverflow-icon: "\ead0";
$pinterest-icon: "\ead1";
$pinterest2-icon: "\ead2";
$xing-icon: "\ead3";
$xing2-icon: "\ead4";
$flattr-icon: "\ead5";
$foursquare-icon: "\ead6";
$yelp-icon: "\ead7";
$paypal-icon: "\ead8";
$chrome-icon: "\ead9";
$firefox-icon: "\eada";
$IE-icon: "\eadb";
$edge-icon: "\eadc";
$safari-icon: "\eadd";
$opera-icon: "\eade";
$file-pdf-icon: "\eadf";
$file-openoffice-icon: "\eae0";
$file-word-icon: "\eae1";
$file-excel-icon: "\eae2";
$libreoffice-icon: "\eae3";
$html-five-icon: "\eae4";
$html-five2-icon: "\eae5";
$css3-icon: "\eae6";
$git-icon: "\eae7";
$codepen-icon: "\eae8";
$svg-icon: "\eae9";
$IcoMoon-icon: "\eaea";

