<div class="container">
    <div class="logo"></div>
    <div class="form-login mt-5">
        <form [class.error]="!loginUser.form.valid && loginUser.submitted" class="form-custom d-flex flex-column gap-2" #loginUser="ngForm" (submit)="sendExistingUserInfo(loginUser)">
            <label class="label">
                <span>Email</span>
                <input required ngModel class="input-custom" type="email" name="username" id="username" 
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="type email ...">
            </label>
            <label class="label">
                <span>Password</span>
                <div class="input-custom input-custom__password">
                    <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d@$!%*?&]{8,}$" -->
                    <input required ngModel [type]="isPasswordVisible ? 'text' : 'password'" name="password" id="password"
                        placeholder="type password ...">
                    <i (click)="toggleInputType()" class="{{ isPasswordVisible ? 'eye-blocked' : 'eye'}}-icon d-inline-block align-middle ps-2"></i>
                </div>
            </label>
            <input class="submit align-self-center mt-4" type="submit" value="Send">
        </form>
    </div>
</div>